<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t('admin.layotus.navigation.link_index_admin_panel') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'admin/layouts/navigation' %>
<%= render 'layouts/flash_messages' %>

<%= yield %><br><br>

</body>

<%= render 'layouts/footer' %>
</html>
